Host mia-server
    Hostname quetzal.us.com
    Port 8022
    User your_user_here
    IdentityFile ~/.ssh/miami-server

Host mex-server
    Hostname quetzal.mx.com
    Port 8022
    User your_user_here
    IdentityFile ~/.ssh/mexico-server

Host gua-server
    Hostname quetzal.gt.com
    Port 8022
    User your_user_here
    IdentityFile ~/.ssh/guatemala-server

Host crc-server
    Hostname quetzal.gt.com
    Port 8022
    User your_user_here
    IdentityFile ~/.ssh/costa-rica-server